$black: #1F1F1F;
$orange: #FF561B;

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: "Open Sans", sans-serif;
}

nav {
	min-height: 104px;
	min-width: 100%;
	background-color: $black;
}

.nav__container {
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 104px;
	margin: 0px 20px;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.25);
	/*max-width: for mobile*/
}

.nav__container li {
	list-style: none;
	display: inline-block;
	padding: 0px 20px;
	font-weight: 500;
	margin: 10px 0px; /*added in case links wrap, so button doesn't overlap with links*/

	a {
		color: white;
		text-decoration: none;

		&:hover {
			color: $orange;
		}
	}
}

.nav__container.nav-link__container {
	justify-content: flex-end;
}

.nav-link__container--hidden {
	display: none;
}

#nav__logo {
	max-height: 52px;
	padding-left: 20px;
}

#nav__quote, #nav__quote--mobile {
	font-weight: bold;
	border: 1px solid $orange;
	padding: 10px 20px;
	border-radius: 2px;

	&:hover {
		background-color: $orange;
		color: white;
	}
}

/*MOBILE SECTION*/
/*$("#menu--open").css("display", "none"),
$("#menu--close").css("display", "inline-block"),
$("nav").css("height", "100vh"),
$(".nav-link__container--hidden").css("display", "block");*/

.active {
	#menu--open {
		display: none;
	}
	#menu--close {
		display: inline-block;
	}
	.nav-link__container--hidden {
		display: block;
		height: 100vh;
		margin: 0;
	}
}

.material-icons.md-light {
	color: rgba(255, 255, 255, 1);
}

.material-icons.md-48 {
	font-size: 48px;
}

#nav--mobile {
	display: none;
	padding: 0;
}

#menu--close {
	display: none;
}

@media (max-width:790px) {
	/*nav, .nav__container {
		min-height: 96px;
	}*/
	#nav--mobile {
		background-color: transparent;
		border: none;
	}
	.nav-link__container--hidden li {
		list-style: none;
		padding: 10px 20px 26px 20px;
		font-weight: 500;
		margin: 20px 0px;
		display: flex;
		justify-content: flex-end;

		a {
			color: white;
			text-decoration: none;

			&:active {
				color: $orange;
			}
		}
	}
	#nav--mobile {
		display: inline-block;
	}
	.nav-link__container {
		display: none;
	}
	#nav__logo {
		padding-left: 0px;
	}
}